.hidden {
	display: none;
}

body {
	min-height: 100vh;
	padding-top: $body-padding;
}

#landingpage {
	min-height: 100vh;
}

#game-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: -($body-padding);
}

.navbar-brand-center {
	width: 100%;
	text-align: center;
}
